<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
    <h1>Классификатор отзывов на телефон</h1>

    <form action="" method=post name="mra">
        <dl>
            <dt>Введите отзыв: <br>
            <dd><textarea name=text rows=15 cols=80>{{ text }}</textarea>
            <!--<dd><input type=submit value="Evaluate">-->
            <dd> <button type=submit class="btn btn-primary" name="submit" value="estimate">Оценить</button>
            <button type=submit class="btn btn-danger" name="submit" value="clear">Очистить</button>
        </dl>
    </form>

    <br>Прогноз типа отзыва:<br>
    {{ prediction_message }}
    </div>
</body>
</html>